<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo3"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".ActivityMatchHistoryPopup" android:theme="@style/AppTheme.Transparent" android:screenOrientation="nosensor"></activity>
        <activity android:name=".ActivityGame" android:screenOrientation="nosensor"
            />
        <activity android:name=".ActivityMatchHistory" android:screenOrientation="nosensor" />
        <activity android:name=".ActivitySettings" android:screenOrientation="nosensor" />
        <activity android:name=".ActivityMainMenu" android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>